<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="ToolKit=${T(com.moekr.aes.util.ToolKit)}">
<head>
    <meta charset='utf-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <meta name="theme-color" content="#C8C8C8"/>
    <title>提交记录 | Automated Examination System</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/s/}" th:text="${ToolKit.BANNER}"></a>
        </div>
        <div class="collapse navbar-collapse" id="header">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/s/}">首页</a></li>
                <li><a th:href="@{/s/examination/}">考试与成绩</a></li>
                <li class="active"><a th:href="@{/s/record/}">提交记录</a></li>
                <li><a th:href="@{/s/help.html}">帮助</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span th:text="${user.username}"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/password.html}">修改密码</a></li>
                        <li class="divider"></li>
                        <li><a th:href="@{/logout.html}">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row col-md-12">
        <h2>所有提交记录</h2>
        <div class="table-container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>隶属于</th>
                    <th>记录时间</th>
                    <th>通过用例数</th>
                    <th>未通过用例数</th>
                    <th>得分</th>
                    <th>查看详情</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="record,rstate:${recordList}">
                    <td th:text="'#'+${record.id}"></td>
                    <td><a th:href="'../examination/detail.html?e='+${record.examinationId}" th:text="${record.examinationName}"></a></td>
                    <td th:text="${#dates.format(ToolKit.convert(record.createdAt))}"></td>
                    <td th:text="${record.compiled}?${record.passSet.size()}:'编译失败'"></td>
                    <td th:text="${record.compiled}?${record.failSet.size()}:'编译失败'"></td>
                    <td th:text="${record.score}"></td>
                    <td><a class="btn btn-xs btn-primary" th:href="'../record/detail.html?r='+${record.id}">详情</a></td>
                </tr>
                <tr th:if="${#lists.isEmpty(recordList)}">
                    <td class="text-center" colspan="7">没有记录！</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-center">©2018 Powered by <span th:text="${ToolKit.BANNER}"></span> ver <span th:text="${ToolKit.VERSION}"></span></p>
    </div>
</footer>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
