<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="ToolKit=${T(com.moekr.aes.util.ToolKit)},StringUtils=${T(org.apache.commons.lang3.StringUtils)}">
<head>
    <meta charset='utf-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <meta name="theme-color" content="#C8C8C8"/>
    <meta th:if="${success}" http-equiv="refresh" content="5;url=./">
    <title>修改密码 | Automated Examination System</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/input.css}" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <form class="form-horizontal" method="post" onsubmit="return checkInput();">
                <span class="heading">修改密码</span>
                <div class="alert alert-success text-center" th:if="${success}" th:text="${success}"></div>
                <div class="alert alert-danger text-center" th:if="${error}" th:text="${error}"></div>
                <th:block th:if="!${success}">
                    <div class="form-group">
                        <input type="password" class="form-control" name="origin" id="origin-input" placeholder="旧密码">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" id="password-input" placeholder="新密码">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm" id="confirm-input" placeholder="确认新密码">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-default btn-input pull-left" onclick="window.location.href='./'">返回</button>
                        <button type="submit" class="btn btn-default btn-input">确认修改</button>
                    </div>
                </th:block>
            </form>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-center">©2018 Powered by <span th:text="${ToolKit.BANNER}"></span> ver <span th:text="${ToolKit.VERSION}"></span></p>
    </div>
</footer>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bundle.js}"></script>
</body>
</html>