<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="mail/fragment/head::head('密码变更提醒 | MOOCODER')"></head>
<body>
<div>
    <h2>密码变更提醒 | MOOCODER</h2>
    <th:block th:unless="${password}">
        <p>您的MOOCODER账户在近期修改了密码</p>
        <p>如果这不是您本人进行的操作，请立即联系管理员重置密码</p>
    </th:block>
    <th:block th:if="${password}">
        <p>您的MOOCODER账户密码已经重置，新的密码为</p>
        <h3 th:text="${password}"></h3>
    </th:block>
    <p>================注意================</p>
    <p th:if="${password}">新密码为系统自动生成，请尽快进行更改</p>
    <p>请妥善保存您的密码，如遇密码遗失请联系管理员</p>
    <p>如果您没有进行过注册，请忽略该邮件</p>
</div>
<footer>©2018 Powered by MOOCODER</footer>
</body>
</html>