<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="mail/fragment/head::head('密码修改提醒 | MOOCODER')"></head>
<body>
<div>
    <h2>注册成功 | MOOCODER</h2>
    <p>感谢您注册MOOCODER账户，以下为您的账户信息</p>
    <h3>用户名：<span th:text="${username}"></span></h3>
    <h3 th:if="${password}">密码：<span th:text="${password}"></span></h3>
    <h3>用户身份：<span th:text="${role}"></span></h3>
    <p>================注意================</p>
    <p th:if="${password}">您的密码为系统自动生成，请尽快进行更改</p>
    <p>请妥善保存您的密码，如遇密码遗失请联系管理员</p>
    <p>如果您没有进行过注册，请忽略该邮件</p>
</div>
<footer>©2018 Powered by MOOCODER</footer>
</body>
</html>