<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <meta name="theme-color" content="#C8C8C8"/>
    <title>注册成功</title>
</head>
<body>
<div>
    <h2>Automated Examination System</h2>
    <h2>注册成功！</h2>
    <h2>用户名：<span th:text="${username}"></span></h2>
    <h2>密码：<span th:text="${password}"></span></h2>
    <h2>用户身份：<span th:text="${role}"></span></h2>
</div>
</body>
</html>