<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="ToolKit=${T(com.moekr.aes.util.ToolKit)}">
<head>
    <meta charset='utf-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <meta name="theme-color" content="#C8C8C8"/>
    <title>考试详情 | Automated Examination System</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datetimepicker.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/t/}" th:text="${ToolKit.BANNER}"></a>
        </div>
        <div class="collapse navbar-collapse" id="header">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/t/}">首页</a></li>
                <li class="active"><a th:href="@{/t/examination/}">考试与成绩</a></li>
                <li><a th:href="@{/t/problem/}">题库</a></li>
                <li><a th:href="@{/t/record/}">提交记录</a></li>
                <li><a th:href="@{/t/help.html}">帮助</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span th:text="${user.username}"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/password.html}">修改密码</a></li>
                        <li class="divider"></li>
                        <li><a th:href="@{/logout.html}">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="modal fade" tabindex="-1" id="change-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">修改起止时间</h4>
            </div>
            <form method="post">
                <div class="modal-body">
                    <p>注意：</p>
                    <p>开始时间不能晚于结束时间</p>
                    <p>开始时间早于当前时间则考试将立即开始</p>
                    <p>结束时间早于当前时间则考试将立即结束</p>
                    <p>已开始的考试可以调整时间重新回归尚未开始状态</p>
                    <p>已结束的考试将不能修改起止时间</p>
                    <label for="start-at-input">开始时间</label>
                    <div class='input-group date' id='start-at'>
                        <input type='text' class="form-control" id="start-at-input" name="startAt"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <label for="end-at-input" style="margin-top: 5px">结束时间</label>
                    <div class='input-group date' id='end-at'>
                        <input type='text' class="form-control" id="end-at-input" name="endAt"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">确认</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row col-md-12" th:if="${success!=null||error!=null}">
        <div class="alert alert-success text-center" th:if="${success}" th:text="${success}"></div>
        <div class="alert alert-danger text-center" th:if="${error}" th:text="${error}"></div>
    </div>
    <div class="row col-md-9">
        <h2>考试详情</h2>
        <div class="table-container">
            <table class="table table-striped">
                <tbody th:with="Status=${T(com.moekr.aes.util.enums.Status)}">
                <tr>
                    <th>考试名称</th>
                    <td th:text="${examination.name}"></td>
                </tr>
                <tr>
                    <th>语言</th>
                    <td th:text="${examination.language}"></td>
                </tr>
                <tr>
                    <th>参加人数</th>
                    <td th:text="${examination.resultCount}"></td>
                </tr>
                <tr>
                    <th>当前状态</th>
                    <td th:switch="${examination.status}">
                        <span th:case="${Status.BEFORE}" class="label label-info">尚未开始</span>
                        <span th:case="${Status.ONGOING}" class="label label-success">正在进行</span>
                        <span th:case="${Status.AFTER}" class="label label-warning">已经结束</span>
                    </td>
                </tr>
                <tr>
                    <th>开始时间</th>
                    <td th:text="${#dates.format(ToolKit.convert(examination.startAt))}"></td>
                </tr>
                <tr>
                    <th>结束时间</th>
                    <td th:text="${#dates.format(ToolKit.convert(examination.endAt))}"></td>
                </tr>
                <tr>
                    <th>试卷地址</th>
                    <th:block th:switch="${examination.status}">
                        <td th:case="${Status.BEFORE}" th:text="${host}+'/'+${user.username}+'/'+${examination.project}"></td>
                        <td th:case="${Status.ONGOING}" th:text="${host}+'/'+${user.username}+'/'+${examination.project}"></td>
                        <td th:case="${Status.AFTER}">考试已经结束！</td>
                    </th:block>
                </tr>
                <tr>
                    <th>自测分数</th>
                    <td th:text="${result.score}"></td>
                </tr>
                <tr>
                    <th>可选操作</th>
                    <td>
                        <a class="btn btn-xs btn-default" href="javascript:change()" th:if="${examination.status!=Status.AFTER}">调整起止时间</a>
                        <a target="_blank" class="btn btn-xs btn-default" th:href="'./result.html?e='+${examination.id}">下载成绩单</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row col-md-12">
        <h2>我的提交记录</h2>
        <div class="table-container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>记录时间</th>
                    <th>通过用例数</th>
                    <th>未通过用例数</th>
                    <th>得分</th>
                    <th>查看详情</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="record,rstate:${result.recordList}">
                    <td th:text="'#'+${record.id}"></td>
                    <td th:text="${#dates.format(ToolKit.convert(record.createdAt))}"></td>
                    <td th:text="${record.compiled}?${record.passSet.size()}:'编译失败'"></td>
                    <td th:text="${record.compiled}?${record.failSet.size()}:'编译失败'"></td>
                    <td th:text="${record.score}"></td>
                    <td><a class="btn btn-xs btn-primary" th:href="'../record/detail.html?r='+${record.id}">详情</a></td>
                </tr>
                <tr th:if="${#lists.isEmpty(result.recordList)}">
                    <td class="text-center" colspan="6">没有记录！</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row col-md-12">
        <h2>学生成绩分布</h2>
        <div class="col-md-12" id="score-chart" style="height: 300px;"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>学生成绩列表</h2>
            <div class="table-container">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>用户名</th>
                        <th>成绩</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="entry,estate:${scoreData.entrySet()}">
                        <td th:text="${entry.key}"></td>
                        <td th:text="${entry.value}"></td>
                    </tr>
                    <tr th:if="${#maps.isEmpty(scoreData)}">
                        <td class="text-center" colspan="2">没有记录！</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <h2>错误用例统计</h2>
            <div class="table-container">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>错误数</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="entry,estate:${failData.entrySet()}">
                        <td th:text="${entry.key}"></td>
                        <td th:text="${entry.value}"></td>
                    </tr>
                    <tr th:if="${#maps.isEmpty(failData)}">
                        <td class="text-center" colspan="2">没有记录！</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-center">©2018 Powered by <span th:text="${ToolKit.BANNER}"></span> ver <span th:text="${ToolKit.VERSION}"></span></p>
    </div>
</footer>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/moment.min.js}"></script>
<script th:src="@{/js/moment-zh-cn.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/js/echarts.min.js}"></script>
<script th:src="@{/js/bundle.js}"></script>
<script th:src="@{/js/chart.js}"></script>
<script th:utext="'paintChart(\'score-chart\',\'\',\'bar\','+${scoreDistribution}+')'"></script>
<script th:utext="'$(\'#start-at\').datetimepicker({locale:\'zh-cn\',defaultDate:moment.unix('+${examination.startAt}+'),allowInputToggle:true});'"></script>
<script th:utext="'$(\'#end-at\').datetimepicker({locale:\'zh-cn\',defaultDate:moment.unix('+${examination.endAt}+'),allowInputToggle:true});'"></script>
</body>
</html>
